<!DOCTYPE html>
html(lang="en")
    head
        title flicksy3
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAAXNSR0IArs4c6QAAAAxQTFRFAAAAAxmR8+/s3i5SinG4LAAAAAR0Uk5TAP///7MtQIgAAABGSURBVBiVlY9BDgAgCMPY/P+fhQlo9GQTknXxMM0CCivYpA+PcQCXu8RVcxeeBav5K6CC6RDsVajCtiB3HJ5TL99vnv8qTuMLAYu9aKwhAAAAAElFTkSuQmCC")
        include styles.pug
        include scripts.pug
    body.fullscreen
        script document.addEventListener("DOMContentLoaded", start);
        include pages/preload.pug
        include pages/layout.pug
        script#bundle-embed(type="application/json")
        script#editor-embed(type="application/json" data-editor-only)
